.footer2{
    width: 100%;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.footer2-content{
    width: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 150px;
   
}
.footer2-content h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: white;
}
.footer2-content p{
    width: 80%;
    color: #FFFFFF;
    font-size: 12px;
}
.footer2-content button{
    width: 30%;
    padding: 10px 10px;
    background-color: #003478;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 10px;

}
.footer2-content button:hover{
    background-color: #071e35;
    transition: 0.5s ease-in-out;
}
.black-car{
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.black-car img{
    width: 70%;
}

@media screen and (max-width:950px) {
    .footer2{
        flex-direction: column;
        gap: 20px;
    }
    .footer2-content{
        width: 80%;
        margin-left: 0px;
    }
    .footer2-content h3{
        font-size: 25px;
    }
    .footer2-content p{
        font-size: 13px;
    }
    .footer2-content button{
        width: 50%;
    }
    .black-car{
        width: 100%;
    }
    
}