*{
    padding: 0px;
    margin: 0px;
    box-shadow: 0px;

}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
}
.logo img{
    width: 80px;
}
.nav-pages{
    display: flex;
    gap: 30px;
}
.nav-pages :hover{
    border-bottom: 1px solid #003478;
}
.nav-pages a{
    text-decoration: none;

}
.nav-pages p{
    color: black;
    font-size: 14px;
}
.signup-btn{
    display: flex;
    gap: 20px;
}
.signup-btn button{
    padding: 9px 13px;
    font-size: 12px;
    font-weight: 600;
    color: #003478;
    border: 1.5px solid #003478 ;
    cursor: pointer;
    background-color: white;
}
.signup-btn button:hover{
    color: white;
    background-color: #003478;
    transition: 0.5s ease-in-out;
}
.mobile-menu{
    display: none;
}
.menu1,.menu2{
    display: none;
}
@media screen and (max-width:950px) {
    .nav-pages{
        display: none;
    }
    .signup-btn{
        display: none;
    }
    
    .mobile-menu{
        display: flex;
        padding: 0px 10px;
        font-size: 25px;
        background-color: #003478;
        color: white;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
    .menu1{
        width: 100%;
        height: 290px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
        overflow: hidden;
        transition: 2s ease-in-out;

    }
    .menu2{
        width: 100%;
        height: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
        overflow: hidden;
        transition: 2s ease-in-out;
    }
    .menu1 a p, .menu2 a p{
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
    .menu2 a, .menu1 a{
        text-decoration: none;
    }
    .mobile-signup{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .mobile-signup button{
        padding: 9px 25px;
        font-size: 12px;
        font-weight: 600;
        color: #003478;
        border: 1.5px solid #003478 ;
        cursor: pointer;
        background-color: white;
    }
    .mobile-signup button:hover{
        color: white;
        background-color: #003478;
        transition: 0.5s ease-in-out;
    }
}   